<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>OggCamp 2019<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <!--<i class="fa fa-clock-o icon-background"></i>-->
    </li>
    
    <li data-row="1" data-col="2" data-sizex="3" data-sizey="1">
      <div data-id="logo" data-view="imageExternal" data-bind-src="image" data-image="https://raw.githubusercontent.com/oggcamp/oggcamp.github.io/master/assets/img/oggcamp-19-logo-wordmark.png"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="titleBox" data-view="Text" data-title="OggCamp 2019" data-text="Track 1"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="whatsOn" data-view="Text" data-title="What's On" data-text="Test"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="nextUp" data-view="Text" data-title="Next Up" data-text="Testing"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="whatsOnQr" data-view="imageExternal" data-bind-src="image"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="nextUpQr" data-view="imageExternal" data-bind-src="image"></div>
    </li>

</div>
